<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">The Sorcerer's Cloakroom</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item float-xs-right">
      <a class="nav-link" href="#">Courses</a>
    </li>
    <li class="nav-item float-xs-right">
      <a class="nav-link" href="#">Log In</a>
    </li>
  </ul>
</nav>

<div class="hero">
  <br />
  <div class="frosty col-xs-10 offset-xs-1 text-center">
    <br />
      <h1>Learn Magic From the Pros</h1>
    <br />
      <h2>Take a Step into a World Unknown</h2>
    <br />
      <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
     <br /><br /> 
  </div>
</div>

<br />

<div class="col-xs-10 offset-xs-1 features text-center">
  <div class="col-sm-4">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from a multitude of magical illusions taught by master magicians</p>
  </div>

  <div class="col-sm-4">
    <h3>Learn at Your Own Pace</h3>
    <br />
    <p>Enroll to gain access to archives of lessons</p>
  </div>

  <div class="col-sm-4">
    <h3>Join our Community</h3>
    <br />
    <p>Surround yourself with like minded magicians, as well as world renouned masters in the field</p>
  </div>
</div>