<br />

<div class="booyah-box col-xs-10 offset-xs-1">
  <h1>The Team</h1>

  <p>
    Due to governmental law, our team of cat geniuses must remain anonymous, but rest assured, they are real cats and they are real smart.
  </p>
</div>